@{
  Layout = "_Layout";
}

<div class="homeImage">
  <h1>Deluxe  Hair Salon Manager</h1>
</div>



<p>@Html.ActionLink("See all stylists", "Index", "Stylists", null, new { @class = "btn btn-info btn-large" })</p>
<p>@Html.ActionLink("See all clients", "Index", "Clients", null, new { @class = "btn btn-info btn-large" })</p>